@import "/src/index.scss";

.chatPage {
  width: 40vw;
  height: 60vh;
  padding: 0;
  background-color: var(--white-op);
  border: 1px solid var(--white);
  border-radius: $border-radius-25;
  box-shadow: $box-shadow-black;
  display: flex;
  position: relative;
  @include glow-effect();

  .chooseChat {
    flex: 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: $font-size-base;
  }
}

@include responsive("lg") {
  .chatPage {
    width: 80vw;
  }
}
